
<appSettings>
		
		<!-- User Information File: The file which stores BESHOST BESPORT USER_EMAIL to which the push will be made.
		 A sample file "user.txt" is given
		 Example: value="C:\Documents and Settings\asrivastava\My Documents\Visual Studio Projects\ECL\user.txt"-->
		<add key="RecipientEmails" value="C:\Program Files\Research In Motion\Emergency Contact List Command Line\user.txt" />
		
		<!--Source: The Source where the data is to be extracted from. 
		It can be an Excel Sheet(.xls),Access Database(.mdb) or MS SQL Database file.
		This can have a value of:"Excel","Access" or "MSSQL"-->
		<add key="ConnectionType" value="MSSQL" />
		
		<!--This field stores the source to be pushed. 
		If Excel is selected in ConnectionType:The name and location of Excel File
		If SQL is selected in ConnectionType:The name of SQL server. Example:value="MYSERVER"
		If Access is selected in ConnectionType: The name and location of Access File -->
		<add key="FileServerName" value="C:\Program Files\Research In Motion\Emergency Contact List Command Line\xyzlist.xls" />
		
		<!--This field is used to specify the Excel Sheet Name/Table Name.		If Excel is selected in ConnectionType:The name of Worksheet in the Excel file from which to extract data
		If SQL is selected in ConnectionType: The name of server from which to extract data
		If Access is selected in ConnectionType: The name of Table in the Access file from which to extract data -->
		
		<add key="Sheet_Table_Name" value="Contacts" />
		
		<!--THIS SHOULD ONLY BE USED IF CONNECTION TYPE IS MSSQL
		If SQL is selected in ConnectionType: The name of database from which to extract data -->
		<add key="Database" value="ECL" />
		
		<!-- URL prefix that identifies where the app's web resources are located.
		 The device's browser may attempt to fetch any of the following:
		   -  [WebContextRoot]/ecl_unread_icon.gif
		   -  [WebContextRoot]/ecl_read_icon.gif
		   -  [WebContextRoot]/ecl.html 
		   -  The two .gif files are located in ECLv2/Server/content folder-->
		<add key="WebContextRoot" value="http://localhost/ECL" />

		<!-- Title of the channel, i.e. what appears on the ribbon.-->
		<add key="ChannelName" value="Emergency Contact List" />
		
		<!-- Location at which to save the generated html page that the ECL server
		 app builds by reading the spreadsheet.  If a valid loaction is specified,
		 then the exact content that gets pushed to devices is saved there.  If the
		 parameter is omitted or if it specifies an invalid location, the generated
		 page won't be displayed, but all the pushes will be attempted anyway.
		 -->
		<add key="StoreLocation" value="C:\Inetpub\wwwroot\ECL\ecl.html" />
		
		<!-- Push Type 
			0=Browser Channel Push
			1=Browser Channel Delete -->
		<add key="PushType" value="0" />
			
		<add key="BESColumnNum"   value="7"            /> <!-- Used for data format -->
		<add key="BESGroupName"   value="Contacts"     /> <!-- Used Catcher program -->		

		<!--BESMgmt format of how each column's data gets displayed on the handheld; "%0" gets replaced with data.
		<add key="ColumnFormat0" value="%0" />
		<add key="ColumnFormat1" value="Email: %0" />
		<add key="ColumnFormat2" value="Cell: %0" />		
		<add key="ColumnFormat3" value="Pin: %0" />
		-->
		<!--The format of how each column's data gets displayed on the handheld; "%0" gets replaced with data.-->
		<add key="ColumnFormat0" value="%0" />
		<add key="ColumnFormat1" value="%0" />
		<add key="ColumnFormat2" value="Office: %0" />
		<add key="ColumnFormat3" value="Cell: %0" />
		<add key="ColumnFormat4" value="Email: %0" />
		<add key="ColumnFormat5" value="Pin: %0" />
		<add key="ColumnFormat6" value="Prime Backup: %0" />
		
		<!-- These keys define overrides to use BESMgmt SQL database for recipients and contact information-->		
		<add key="BESMgmt"             value="false"        /> <!-- Active BESMgmt overrides -->		
		
		<!-- BES 4.0 Database connection if BESMgmtUsers or BESMgmtContact values are BESMgmt -->
		<add key="BESMgmtConn"         value="Provider=SQLOLEDB;server=BESSERVERNAME;uid=sa;password=sa;database=besmgmt40" />			
		
		<!-- Recipients -->
		<add key="BESMgmtUsers"        value="BESMgmt" /> <!-- BESMgmt or value in RecipientEmails -->
		<add key="BESUsersConnType"    value="MSSQL"   /> <!-- MSSQL if BESMgmt -->	

		<!-- Recipients - Use BESMgmt recipients
		<add key="BESMgmtUsers"        value="BESMgmt"
		<add key="BESUsersConnType"    value="MSSQL"
		-->	

		<!-- Recipients - Use non-BESMgmt recipients
		<add key="BESMgmtUsers"        value="C:\Program Files\Research In Motion\Emergency Contact List Command Line\user.txt" />
		<add key="BESUsersConnType"    value="MSSQL"  /> 
		-->	
		
		<!-- Contacts --> 	
		<add key="BESMgmtServer"       value="YOURSERVERNAME" /> <!-- Override FileServerName, for recipients -->
		<add key="BESMgmtContact"      value="BESMgmt"	    /> <!-- BESMgmt or value in Sheet_Table_Name -->
		<add key="BESContactsConnType" value="MSSQL"        /> <!-- MSSQL if BESMgt, or value in ConnectionType -->			
		<add key="BESContactsServer"   value="BESMgmt" /> <!-- BESMgmt, or value in FileServerName, for contacts -->					

		<!-- Contacts - Use the BESMgmt contacts 	
		<add key="BESMgmtServer"       value="YOURSERVERNAME" />
		<add key="BESMgmtContact"      value="BESMgmt"	    />
		<add key="BESContactsConnType" value="MSSQL"        />
		<add key="BESContactsServer"   value="BESMgmt" />
		-->										
		
		<!-- Contacts - Use the non-BESMgmt contacts
		<add key="BESMgmtServer"       value="YOURSERVERNAME" />
		<add key="BESMgmtContact"      value="Contacts"	    />
		<add key="BESContactsConnType" value="Excel"        />
		<add key="BESContactsServer"   value="C:\Program Files\Research In Motion\Emergency Contact List Command Line\xyzlist.xls" />
		-->
		

		<!-- Push Method -->
		<add key="PushMethod" value="NONPAP" /> <!-- NONPAP or PAP -->
		
		<!-- PAP -->		
		<!--Notify URL is where the MDS posts the ack for a PAP push-->
		<add key="NotifyURL" value="http://localhost/ECL/PAPListener.aspx"/>
		<!--The server address where the ack from MDS will be stored and where sample data is stored-->
		<add key="DataAddress" value="Provider=SQLOLEDB;server=YOURSERVERNAME\MDSSQL;uid=sa;password=sa;database=ECL" />			
		<!--Location of pap.txt, which contains the PAP definition-->
		<add key="PAPAddress" value="c:\inetpub\wwwroot\PAP\pap.txt"/>

		<!-- PAP Optional Settings -->		
		<!-- A value will be generated if one is not supplied -->		
		<add key="PushID" value="" />

		<!-- Deliver prior to the specified time. YYYY-MM-DD:hh-mm-ss or valid value in this format. -->		
		<add key="BeforeTimestamp" value="YYYY-MM-DD:hh-mm-ss" />

		<!-- Deliver after to the specified time. YYYY-MM-DD:hh-mm-ss or valid value in this format -->		
		<add key="AfterTimestamp" value="YYYY-MM-DD:hh-mm-ss" />

		<!-- Push priority relative to other requests. high, medium, low, default is high -->		
		<add key="Priority" value="high" />

		<!-- For application confirmation, default is unconfirmed. Even with uncofirmed reliable push provides a transport layer confirmation. -->		
		<add key="Delivery" value="unconfirmed" />
		
	</appSettings>

